body {
  background: #261b5a;
  background-image: url("img/frontendman_menu.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  font-family: "Press Start 2P", cursive;
  color: #f6f6f6;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  font-size: 16px;
  margin: 0;
}
.container-menu-links {
  width: 500px;
  height: 500px;
  font-size: 48px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 50px;
}
.container {
  width: 1440px;
  height: 1024px;
}
a {
  color: #f6f6f6;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  background-color: #eccb49;
  color: #261b5a;
  padding: 15px;
}
