body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  width: 1440px;
  height: 1024px;
  background: #261b5a;
  font-family: "Press Start 2P", cursive;
  color: #f6f6f6;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  font-size: 16px;
}

.title {
  font-size: 96px;
  color: #eccb49;
  text-shadow: 6px 6px 0px #fe6f76;
}

.index-container {
  display: flex;
  align-items: center;
}

.press-start {
  font-size: 48px;
  color: #f6f6f6;
  animation: blink-style 1.5s ease-in infinite;
}
@keyframes blink-style {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.font-size-36 {
  font-size: 36px;
}

span {
  color: #eccb49;
}

.intro-container {
  width: 800px;
  text-align: left;
}

.font-size-24 {
  font-size: 24px;
}

.nyancat {
  width: 200px;
  height: 120px;
}

.move-div {
  animation: moveright 4s linear;
}
@keyframes moveright {
  0% {
    left: 4000px;
  }
  100% {
    left: 0px;
  }
}
